<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<connectionStrings>
		<add name="DBCS" connectionString="server=LAPTOP-QJL2VTQG; database=Employee; trusted_connection=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
		  </protocols>
	  </webServices>
  </system.web>
</configuration>



